*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(10deg, #000000 21%, #0052ff 30% , #ffffff 100%);  /* cor de fundo */
}
header {
    width: 100%;
    height: 80px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 99;
  }
  
  
  header .menu ul {
    display: flex;
    margin-left: 800px;
  }
  
  header .menu ul li {
    padding: 0 10px;
    list-style: none;
  }
  
  header .menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
  }
  /*-==BotaoNeon-==*/
  .neon-btn {
    top: 5px;
    display: inline-block;
    text-decoration: none;  
    color: #0f0f0f;
    border: 4px solid #2196f3;
    padding: 16px 24px;
    border-radius: 16px;
  
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 29px #2196f3;
  
    box-shadow: inset 0 0 32px #2196f3, 0 0 32px #2196f3;
  
    position: relative;
  }
  
  .neon-btn::before {
    pointer-events: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2196f3;
    left: 0;
    top: 120%;
  
    transform: perspective(64px) rotateX(40deg) scale(1, 0.35);
    filter: blur(64px);
    opacity: 0.7;
  }
  .neon-btn:hover{
    transition: 0.5s;
    letter-spacing: 3px;
  }
  .neon-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196f3;
    box-shadow: 0 0 128px 32px #2196f3;
    z-index: -1;
    opacity: 0;
    transition: opacity 100ms linear;
  }
  
  .neon-btn:hover::after,
  .neon-btn:focus::after {
    opacity: 1;
  }
  
  .neon-btn:hover::before,
  .neon-btn:focus::before {
    opacity: 1;
  }
  
  .neon-btn:hover,
  .neon-btn:focus {
    color: #202631;
    text-shadow: none;
  }
  
  /*-==FimMenu==-*/
.container{
    width: 1100px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.container .card{
    width: 300px;
    height: auto;
    padding: 10px 0;
    text-align: center;
    background: linear-gradient(-1deg, #000000 21%, #0052ff 70% , #ffffff 100%);
    border-radius: 15px;
    box-shadow: 2px 5px 25px #2196f3;
    transition: transform 0.3s;
}

.container .card:hover{
    transform: scale(1.050);
}

.container .card .card-title{
    padding: 30px 20px;
    border-bottom: 2px solid #2196f3;
}

.container .card .card-title h2{
    font-size: 35px;
    padding-bottom: 15px;
    color: #000000;
}

.container .card .card-title p span{
    font-size: 40px;
    padding: 0 5px;
}

.container .card .card-content ul{
    padding: 10px 30px;
    padding-bottom: 20px;
}

.container .card .card-content ul li{
    list-style: none;
    padding: 10px 0;
}

.container .card .card-content ul li i{
    margin-right: 4px;
}

.container .card .card-content button{
    width: 120px;
    padding: 10px 20px;
    background: white;
    border-radius: 20px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.container .card .card-content button:hover{
    background: #2196f3;
    letter-spacing: 1.2px;
}

.container .card .card-content button a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}